<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List v2.0</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="container">
    <div class="date">
       <h1><%=todayDate%></h1>
    </div>
    <div class="searchBar">
      <form action="/" method="post">
         <input type="text" class="search" placeholder="   Enter the task" name="task" autocomplete="off">
         <input class="button" type="submit" value="ADD">
       </form>
   </div>
   <div class="enteredItems">
    
      
     <%listitems.forEach((item)=>{%>
     <form action="/delete" method="post">
        <div class="item">
           <input type="checkbox" name="checkbox" value="<%= item._id %>" onchange="this.form.submit()">
           <p> <%= item.name%></p>
        </div>
      </form>

     <% })%>
    </ol>
    
    </div>
    </div>
</body>
</html>